<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Nyaaaam!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/contacts.js"></script>
  </head>
  <body>
    <div class="container">
      <h1> Add a contact! </h1>
      <div class="row">
        <div ng-controller="Contacts" ng-init="reloadContacts()">
          <div class="span8">
            <div class="contact-badge" ng-repeat="contact in contacts">
              <h3 contenteditable>{{ contact.name }}</h3>
              <p contenteditable> {{ contact.number }} </p>
            </div> 
          </div>
          <div class="span4">
            <form ng-submit="saveContact(editContactWeight)">
              <p><input required placeholder="Name" type="text" ng-model="editContactName"/></p>
              <p><input required placeholder="Number" type="text" ng-model="editContactNumber"/></p>
              <p><input value="Add" type="submit" class="btn primary-btn"/></p>
            </form>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
  </body>
</html>

